<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Programa ABCC</a>
        <div class="float-end">
          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Articulos</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
        </div>
      </div>
    </div>
  </div>